body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container {
    position: relative;
    height: 600px;
    background-color: #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.graph-space {
    flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-size: 24px;
}

.checkbox-wrapper {
    display: block; /* 블록 요소로 설정 */
    align-self: flex-start; /* 위쪽에 정렬 */
    padding: 10px 10px 0px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    height: auto; /* 높이를 자동으로 설정 */
    margin: 10px;
}

.checkbox-container {
    margin-bottom: 10px; /* 아래 여백 추가 */
}

.checkbox-container label {
    display: block;
    margin-bottom: 5px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 5px 0; /* 세로 간격을 줄이기 위해 margin 조정 */
}

/* 모바일 대응 */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    section {
        padding: 15px;
    }

    .chart-container {
        height: 300px;
    }

    .checkbox-wrapper {
        padding: 5px;
    }

    .graph-space {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px 0;
    }

    section {
        margin-bottom: 15px;
        padding: 10px;
    }

    .chart-container {
        height: 200px;
    }

    .checkbox-wrapper {
        padding: 3px;
    }

    .graph-space {
        font-size: 16px;
    }
}
