/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    font-size: 50px;
    font-family: "Sankofa Display", sans-serif;
    font-weight: 900;
    font-style: normal;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 3%;
    margin-right: 3%;
}
.chapter-title {
    text-indent: 1em;
    font-size: 30px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text-body {
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-left: 2%;
    padding-right: 2%;
}
.text-body p {
    margin-bottom: auto;
}
/* 결론 부분의 테이블 스타일 */
.text-body .conclusion-table {
    width: 80%;
    max-width: 100%;
    border-collapse: collapse;
    margin: 2% auto;
}
.text-body .conclusion-table th, .text-body .conclusion-table td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
.text-body .conclusion-table th {
    background-color: #f2f2f2;
}

/* 모바일 대응 */
@media (max-width: 768px) {
    .text-body .conclusion-table th, .text-body .conclusion-table td {
        padding: 6px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .text-body .conclusion-table th, .text-body .conclusion-table td {
        padding: 4px;
        font-size: 12px;
    }
}

.chart-container {
    position: relative;
    height: 600px;
    background-color: #dfdfdf6b;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: row;
    margin: 0px 3% 0px 3%;
}

.graph-space {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-size: 24px;
    position: relative;
}

.checkbox-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 10px 0px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    height: auto;
    z-index: 10;
}

.checkbox-container {
    margin-bottom: 10px;
}

.checkbox-container label {
    display: block;
    margin-bottom: 5px;
}

#tier-legend {
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.legend-item {
    padding: 5px;
    margin: 5px 0;
    color: black;
    text-align: center;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.graph-details {
    display: flex;
    flex-direction: row;
    margin: 20px 3%;
    background-color: #f5f5f5ef;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
    width: 50%;
    margin: 0 10px;
}

.table-title {
    text-align: center;
    margin-bottom: 10px;
}

.table-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.community-controls {
    position: absolute;
    right: 0;
    display: flex;
    gap: 10px;
}

.control-button {
    padding: 1px 2px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 15px !important;
}

.control-button:hover {
    background-color: #e0e0e0 !important;
    border-color: #999 !important;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}
.details-table-container {
    max-height: 400px;
    overflow-y: auto;
}
.details-table th, .details-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.details-table th {
    background-color: #f2f2f2;
}

footer {
    background-color: #b6b6b6;
    color: rgb(68, 68, 68);
    text-align: center;
    padding: 10px 0;
}

footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-logo {
    height: 50px;
    margin-right: 10px;
}

footer .footer-text p {
    margin: 1px 0 0 0;
    text-align: right;
    font-size: 12px;
}

/* 모바일 대응 */
@media (max-width: 768px) {
    header h1 {
        font-size: 36px;
    }
    header h2 {
        font-size: 18px;
    }

    main {
        padding: 10px;
    }

    section {
        padding: 15px;
    }

    .chart-container {
        height: 400px;
    }

    .checkbox-wrapper {
        padding: 5px;
    }

    .graph-space {
        font-size: 18px;
    }

    .graph-details {
        flex-direction: column;
    }

    .table-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .control-button {
        font-size: 12px !important;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px 0;
    }
    header h1 {
        font-size: 28px;
    }
    header h2 {
        font-size: 14px;
    }

    section {
        margin-bottom: 15px;
        padding: 10px;
    }

    .chart-container {
        height: 300px;
    }

    .checkbox-wrapper {
        padding: 3px;
    }

    .graph-space {
        font-size: 16px;
    }

    footer .footer-logo {
        height: 30px;
    }
}
