body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container {
    position: relative;
    height: 600px;
    background-color: #dfdfdf6b;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    margin: 0px 3% 0px 3%;
}

.graph-space {
    flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-size: 24px;
    position: relative;
}

.checkbox-wrapper {
    position: absolute; /* 절대 위치 지정 */
    top: 10px; /* 위쪽 여백 */
    right: 10px; /* 왼쪽 여백 */
    padding: 10px 10px 0px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    height: auto; /* 높이를 자동으로 설정 */
    z-index: 10; /* z-index를 높여서 graph-space 위에 위치 */
}

.checkbox-container {
    margin-bottom: 10px; /* 아래 여백 추가 */
}

.checkbox-container label {
    display: block;
    margin-bottom: 5px;
}

#tier-legend {
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.legend-item {
    padding: 5px;
    margin: 5px 0;
    color: black;
    text-align: center;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.graph-details {
    display: flex;
    flex-direction: row;
    margin: 20px 3%;
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
    width: 50%;
    margin: 0 10px;
}

.table-title {
    text-align: center;
    margin-bottom: 10px;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    text-align: center; /* 가운데 정렬 */
}

.details-table th, .details-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.details-table th {
    background-color: #f2f2f2;
}


footer {
    background-color: #b6b6b6;
    color: rgb(68, 68, 68);
    text-align: center;
    padding: 10px 0;
}

footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-logo {
    height: 50px; /* 이미지 높이를 조정 */
    margin-right: 10px;
}

footer .footer-text p {
    margin: 5px 0; /* 세로 간격을 줄이기 위해 margin 조정 */
}

/* 모바일 대응 */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    section {
        padding: 15px;
    }

    .chart-container {
        height: 300px;
    }

    .checkbox-wrapper {
        padding: 5px;
    }

    .graph-space {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px 0;
    }

    section {
        margin-bottom: 15px;
        padding: 10px;
    }

    .chart-container {
        height: 200px;
    }

    .checkbox-wrapper {
        padding: 3px;
    }

    .graph-space {
        font-size: 16px;
    }
    footer .footer-logo {
        height: 30px; /* 모바일에서 이미지 높이 조정 */
    }
}
